.dropdown-item {
    background-color: #3DB5E3;
}

.navbar {
    background-color: rgb(20, 130, 233);
}

.bordure2 {
    border: 10px solid #8AA9D9;
    margin-top: 45px;
    background-color: #D6E8F9;
    padding-left: 10px;
}

.bordure {
    border: 10px solid #8AA9D9;
    background-color: #D6E8F9;
    padding-left: 10px;
    float: left;
}

h2 {
    text-align: center;
    padding-top: 10px;
}

#centrer {
    display: table;
    text-align: center;
    width: 100%;
    height: 60px;
}

#centrer span {
    vertical-align: middle;
    display: table-cell;
}

.position {
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-bottom: 50px;
}

#descendre {
    margin-top: 20px;
}

.leaf {
    float: right;
    width: 50%;
    padding: 10PX;
}

.natura {
    padding: 10px;
    float: right;
    width: 50%;
}

.section {
    background-color: #D6E8F9;
}